/* Variables*/

:root{
--colorsolido: #111111;
--colortransparente: #111111a8;
}

/*Main*/

body {
    background: url('../assets/background.png') repeat;
    background-color: var(--colorsolido);
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/*Header styles*/

.header {
    height: 80px;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--colortransparente);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logotipo {
    width: 13vw;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: start;
}

.logo {
    height: 70px;
    padding-right: 20px;

}

.name {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

/*Game styles*/

.game {
    width: 500px;
    padding: 2rem;
    background-color: var(--colortransparente);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.board {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.top-board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boardpart {
    height: 100%;
}

.column:hover {
opacity: 80%;
}

.lower-limit {
    width: 100%;
    height: 4%;
    background: #009F0D;
}

.players {
    padding-top: 1rem;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.player {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab {
    height: 100%;;
}

.playername {
    padding: 1rem;  
    color: white;
    font-size: 20px;
}

/*Footer styles*/

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    background-color: var(--colortransparente);
}

/*Media Querys */

@media (max-width: 565px) {
.game {
width: 100%;
}

}