.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background: url('../assets/Background.png') repeat;
    background-color: #111111;
}

.header {
    height: 80px;
    width: 100vw;
    background-color: #111111c4;
}

.game {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111111c4;
}

.board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boardpart {
    height: 100%;
}

.column:hover {
opacity: 80%;
}

.lower-limit {
    width: 100%;
    height: 4%;
    background: #009F0D;
}

.footer{
    height: 30px;
    width: 100vw;
    background-color: #111111c4;
}